snippet ans
	<answer value="${1}">
	  <text>
	    <![CDATA[${2}]]>
	  </text>
	</answer>
snippet ques
	<question id="${1}" type="${2}" label="${3}" alt_label="${4}">
	  <head>
	    <text>
	      <![CDATA[${5}]]>
	    </text>
	  </head>
	
	  <body>
	    ${6}
	  </body>
	</question>
