snippet ans
	<answer label="${1}" name="${2}">
	  <atxt>
	    <![CDATA[${3}]]>
	  </atxt>
	</answer>
snippet ques
	<ques typ="${1}" label="${2}" next="${3}" id="${4}">
	  <qhead>
	    <qtxt>
	      <![CDATA[${5}]]>
	    </qtxt>
	  </qhead>
	
	  <qcontent>
	    ${6}
	  </qcontent>
	</ques>
